tr{
  background: rgba(225, 236, 240, 0.75);
  box-shadow: 10px;
}
p.b {
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
  font-weight: 300;
}
.user-create {
  width: 80%;
  margin: 50px auto;
  background: rgba(68, 193, 235, 0.75); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(254, 253, 253, 0.723);
}
table, th, td {
  border: 1px solid #fafefe;

}