<app-menu></app-menu>

<div class = "user-list">
    <section class = "heading">
<span class ="page-title font-weight-bold">[{{ title }}]</span>
<a routerLink="/user/create">
  <img width="20" height="20" src="assets/add-icon.png" title="Add New" />
</a>
</section>

<table *ngIf="users" class = "table table-sm table-warning">
  <thead>
    <tr><th>Id</th><th>Username</th><th>Password</th><th>First Name</th><th>Last Name</th><th>Phone</th><th>Email</th><th>Reviewer</th><th>Admin</th><th *ngIf = "adminUser">Action</th></tr>
  </thead>

<tbody>
<tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.username}}</td>
    <td>{{user.password}}</td>
    <td>{{user.firstname}}</td>
    <td>{{user.lastname}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.email}}</td>
    <td><input [(ngModel)]= "user.reviewer" class = "rounded" type="checkbox" disabled/></td>
    <td><input [(ngModel)] = "user.admin" class = "rounded" type="checkbox" disabled></td>
    <td>
      <a *ngIf = "adminUser" routerLink="/user/details/{{ user.id }}">
        <img
          width="20"
          height="20"
          src="assets/details.png"
          title="User Details"
        />
      </a>
      <a *ngIf = "adminUser" routerLink="/user/edit/{{ user.id }}">
        <img
          width="20"
          height="20"
          src="assets/pencil-icon.png"
          title="Edit User"
        />
      </a>
    </td>   
</tr>
</tbody>
</table>
</div>
