<app-menu></app-menu>
<div>
    <section class="heading">
      <span class="page-title font-weight-bold font-italic">[{{ title }}]</span>
      <a routerLink="/product/create">
        <img width="20" height="20" src="assets/add-icon.png" title="Add New" />
      </a>
    </section>
    <table *ngIf="products" class="table table-sm table-striped">
      <thead>
        <tr>
          <th><a (click) = "sortBy('id')">Id</a></th>
          <th>Vendor</th>
          <th><a (click) = "sortBy('partNumber')">Partnumber</a></th>
          <th><a (click) = "sortBy('name')">Name</a></th>
          <th><a (click) = "sortBy('price')">Price</a></th>
          <th>Unit</th>
          <th>PhotoPath</th>
          <th *ngIf = "adminUser">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products| sort: sortCriteria : sortOrder">
          <td>{{ product.id }}</td>
          <td>{{ product.vendor.code +" "+product.vendor.name }}</td>
          <td>{{ product.partNumber }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price| currency}}</td>
          <td>{{ product.unit }}</td>
          <td>{{ product.photoPath }}</td>
          <td>
            <a *ngIf = "adminUser" routerLink="/product/detail/{{ product.id }}">
              <img
                width="20"
                height="20"
                src="assets/details.png"
                title="Vendor Details"
              />
            </a>
            <a *ngIf = "adminUser" routerLink="/product/edit/{{ product.id }}">
              <img
                width="20"
                height="20"
                src="assets/pencil-icon.png"
                title="Edit Vendor"
              />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

