<app-menu></app-menu>
<div>
    <span class="component-title">[{{ title }}]</span>
    <p *ngIf="!request">Loading...</p>
    <div *ngIf="request">
      <main class="single">
        <table class="table table-sm">
          <tr>
            <td>User:</td>
            <td>
              <input [(ngModel)]="request.user.firstname" class="rounded" type="text" disabled />
            </td>
          </tr>
          <tr>
            <td>Description:</td>
            <td>
              <input [(ngModel)]="request.description" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>Justification:</td>
            <td>
              <input [(ngModel)]="request.justification" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>DateNeeded:</td>
            <td>
              <input [(ngModel)]="request.dateNeeded" class="rounded" type="date" />
            </td>
          </tr>
          <tr>
            <td>Delivery Mode:</td>
            <td>
              <select [(ngModel)]="request.deliveryMode" class="rounded">>
                <option *ngFor="let d of deliveryModes" [ngValue]="d">
                  {{ d }}
                </option>
              </select>
            </td>
          </tr>
        </table>
      </main>
      <span>
        <button (click)="save()" class="btn btn-sm btn-primary">Create</button>
      </span>
      <p *ngIf="message">{{ message }}</p>
    </div>
  </div>
