<div>
    <span>
      <h1>Welcome to the PRS application</h1>
    </span>
    <table>
      <tbody>
        <tr>
          <td>
            <form class="text-center" style="display: inline-block">
              <table
                *ngIf="userLogin"
                class="table-sm"
                style="
                  margin: 10px auto;
                  padding: 20px 10px;
                  border: 1px solid silver;
                  width: 600px;
                  text-align:center;
                  vertical-align:baseline;
                  background-color: rgb(124, 192, 238);
                  display:inline-flexbox
                "
              >
                <tr class="text-center">
                  <td colspan="2">Login</td>
                </tr>
                <tr>
                  <td>Username:</td>
                  <td>
                    <input
                      [(ngModel)]="userLogin.username"
                      name="Username"
                      type="text"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Password:</td>
                  <td>
                    <input
                      [(ngModel)]="userLogin.password"
                      name="Password"
                      type="password"
                    />
                  </td>
                </tr>
                <tr>
                  <td class="text-center" colspan="2">
                    <button
                      type="submit"
                      (click)="login()"
                      class="btn btn-primary"
                    >
                      Login
                    </button>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <label class="text-danger">{{ message }}</label>
                  </td>
                </tr>
              </table>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
