tr{
  background: rgba(162, 191, 230, 0.75)
}
.request-list {
  width: 60%;
  margin: 50px auto;
  background: rgba(165, 199, 247, 0.75); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(238, 240, 241, 0.723);
}
table, th, td {
  border: 1px solid #fafefe;

}