tr{
    background: rgba(146, 211, 237, 0.75)
  }
  .request-approve {
    width: 80%;
    margin: 50px auto;
    background: rgba(229, 235, 236, 0.75); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(254, 253, 253, 0.723);
  }
  table, th, td {
    border: 1px solid #c3e1eef5;
  
  }
 