
<app-menu></app-menu>
<div>
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">[{{ title }}]</span>
    </section>
    <table *ngIf="request" class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>User</th>
          <th>Description</th>
          <th>Justification</th>
          <th>Date Needed</th>
          <th>Delivery Mode</th>
          <th>Status</th>
          <th>Total</th>
          <th>Submitted Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests">
            <td>{{request.id}}</td>
<td>{{ request.user.firstname + " " + request.user.lastname }}</td>
          <td>{{ request.description }}</td>
          <td>{{ request.justification }}</td>
          <td>{{ request.dateNeeded }}</td>
          <td>{{ request.deliveryMode }}</td>
          <td>{{ request.status }}</td>
          <td>{{ request.total }}</td>
          <td>{{ request.submittedDate | date :'MM/dd/yyyy'}}</td>
          <td>
            <a routerLink="/request/approve/{{request.id}}">
              <img width="20" height="20" src="assets/done.png" title="Approve/Reject" />
            </a>
          </td>
          </tr>
          </tbody>
          </table>
        </div>