/* You can add global styles to this file, and also import other style files */
div {
    padding: 20px;
}
 body{

    background-image: url(./nature.jpg);
    background-size: cover;
    height:100%;
    width:100%;
    background-color:transparent;
    font-size:large;
    font:bold;
    
}